idna==2.10
lxml==4.6.2
six==1.15.0
pywin32==300
pytz==2020.4
jdcal==1.4.1
numpy==1.19.3
pandas==1.1.5
chardet==4.0.0
soupsieve==2.1
xlwings==0.21.4
urllib3==1.26.2
openpyxl==3.0.5
requests==2.25.1
et-xmlfile==1.0.1
selenium==3.141.0
certifi==2020.12.5
beautifulsoup4==4.9.3
python-dateutil==2.8.1
bu-config @ git+https://gitlab.com/biourjapower/bu_config.git
bu-alerts @ git+https://gitlab.com/biourjapower/bu_alerts.git@v0.1.0
bu-snowflake @ git+https://gitlab.com/biourjapower/bu_snowflake.git@v0.1.0
